body {
    width: 1400px;
    height: 1010px;
    background-image: url("../images/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

header {
    background-color: #120c04;
    width: 1020px;
    height: 380px;
    margin: auto;
    text-align: center;
}

#menu nav {
    width: 1020px;
    height: 60px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

#menu li {
    display: inline-block;
    padding-left: 1em;
    padding-top: 0.5em;
}

div {
    width: 1020px;
    height: 260px;
    margin: auto;
}

div h1 {
    max-height: 150px;
    font-size: 133px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 50px;
}

div h2 {
    max-height: 110px;
    font-family: 'Bitter', serif;
    font-weight: 100;
    padding: 0.05px;
}

h2, h3 {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

h3 {
    font-family: 'Bitter', serif;
}

ul {
    list-style: none;
    margin-top: 0;

}


nav, h1, h2, h3 {
    text-transform: uppercase;
}

h1, h2 {
    color: #cfa205;
    text-align: center;
}

main {
    width: 1020px;
    background-color: white;
    margin: auto;
}

#social_nav {
    box-sizing: border-box;
    width: 1020px;
    height: 60px;
    background-color: #e8e8e8;
    text-align: center;
    padding: 15px 380px 0 330px;
    margin: auto;
    padding-top: 15px;

}

#social_nav i {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: 3px solid #999999;
    border-radius: 50%;
    color: #999999;
    background-color: #e8e8e8;
    padding: 3px;

}

#social_nav li {
    display: inline-block;
    padding-left: 0.5em;
}

#baseline {
    width: 900px;
    height: 90px;
    color: #7a7a7a;
    text-align: center;
    padding-top: 100px;
    margin: auto;
    font-family: 'Bitter', serif;
    font-weight: bold;
    border-bottom: 1px solid #e8e8e8;
}

section {
    margin: auto;
    padding-top: 3em;
    padding-left: 30px;
}

article {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 260px;
    height: 482px;
    font-family: 'Bitter', serif;
    margin-left: 30px;
    padding: 10px;
}

#articles figure {
    max-height: 195px;
    max-width: 260px;
    margin: auto;
}

#articles p {
    color: #7a7a7a;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #e8e8e8;
}

a:active {
    color: #cfa205;
}
 .selected {
    color: #cfa205;
 }
