body {
width: 1400px;
height:1010px;
background-image:url("../images/bg.jpg");
background-attachment:fixed;
background-size: cover;
}

header {
    background-color: #120c04;
    width: 1020px;
    height: 380px;
    margin: auto;
}

nav {
    width: 1020px;
    height: 60px;
}

h1
h2 {
    width: 1020px;
    height: 260px;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

#social_nav{
    width: 1020px;
    height: 60px;
    background-color: #e8e8e8;
    padding: 0;
}

nav,
h1,
h2,
h3 {
    text-transform: uppercase;
}

h1,
h2 {
    color: #cfa205;
    text-align: center;
}
main {
    width: 1020px;
    background-color: white;
    margin: auto;
}

#baseline {
    width: 900px;
    height: 90px;
    color: #7a7a7a;
}

#articles {

}
article {
    display: inline-block;
    width: 260px;
    height: 482px;
    margin: auto;

}
#articles figure {
    width: 260px;
    height: 195px;
}

#articles p {
    color: #7a7a7a;
}

a {
    text-decoration: none;
    color: #e8e8e8;
}

a:active{
    color: #cfa205;
}
